<h1>All my tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed == true %>
      <input type=checkbox name="<%= task.title %>" id="<%= task.title %>" checked>
    <% else %>
      <input type=checkbox name="<%= task.title %>" id="<%= task.title %>">
    <% end %>
    <label for="<%= task.title %>"><%= link_to task.title, task_path(task) %></label>
    <%= link_to "Delete",
      task_path(task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </li>
  <% end %>
</ul>

<%= link_to "Add a new task", tasks_new_path %>
